// bootstrap
$primary: rgb(64, 125, 155);
$secondary: rgb(65, 118, 144);

// fonts
$font-family-sans-serif: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans", sans-serif;

$h1-size: 1.6rem;
$h2-size: 1.4rem;
$h3-size: 1.2rem;
